:root {
    --bg: #222128;
    --text : #ccc;
    --link : #f2777a;
    --red: #f2777a;
    --bg-mid : #35343e;
}

* { 
    font-size: 1.1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--text);
    max-width: 70ch;
    margin: 0 auto;
    font-family: Monaco ,Courier, monospace;;
    padding: 1rem;
    line-height: 1.6;
}

pre {
    line-height: normal;
    font-size: 1rem;
}

p {
    text-align: justify;
}

header {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-mid);
}

header a {
    padding: 0 .5rem
}



summary {
    text-align: left;
    
}

footer > p {
    text-align: center;
    border-radius: 8px;
    background-color: #35343e;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--red);
    
    text-decoration: underline;
}

h1, h2, h3 {
    color: var(--red);
    text-align: left;
}


span:hover, .hoverEffect:hover {
    background-color: rgb(225, 147, 147);
    color: #222128;
    text-align: left;
}

ul {
    list-style-type: "--";
}

.bigContainer {
    /* text-align: center; */
    display: flex;
}

.info, .contactPosts {
    padding: 1rem;
}

.info {
    flex: 2;
}

.contactPosts {
    flex: 1;
}

.contactList > li {
    padding: 0.5rem;
}

span.color-underline {
    text-decoration: underline  var(--red);
}

span.color-underline:hover {
    background-color: unset;
    color: white;
}

.project-items {
    list-style-type: "- ";
}

.projects-list > li {
    margin: 1rem auto;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 1.5rem;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  

@media (max-width:480px) {
    .bigContainer {
        display: block;
    }
}



.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }